<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.devonte.note.mapper.AnalyticMapper">

    <select id="analyticUserData" resultType="java.util.HashMap">
        select (select count(df.id)
                from d_file df,
                     d_user_file duf
                where user_id = #{userId}
                  and df.id = duf.file_id
                  and df.foldered = FALSE)                                        as files,
               (select count(df.id)
                from d_file df,
                     d_user_file duf
                where user_id = #{userId}
                  and df.id = duf.file_id
                  and df.foldered = TRUE)                                         as folders,
               (select DATEDIFF(now(), created) from d_user where id = #{userId}) as days
    </select>

</mapper>